<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ beerName }}</h1>
    </div>
    <br>
    <div class="container">
        <div id="bargraph"></div>
    </div>
    <br>
    <div class="container">
        <div id="drinkergraph"></div>
    </div>
    <br>
    <div class="container">
        <div id="quantityvshourgraph"></div>
    </div>
    <br>
    <div class="container">
        <div id="quantityvsdayofweekgraph"></div>
    </div>
    <br>
    <div class="container">
        <div id="quantityvsmonthgraph"></div>
    </div>
</div>